/* =============== general styles and helpers =============== */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 74px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
legend,
body > footer {
  font-family: 'Playfair Display', serif;
}

legend {
  font-style: italic;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.reduce-container {
  width: 50%;
}

.scroll-helper {
  position: relative;
  top: -86px;
}

#summary {
  display: none;
}

input.is-invalid,
textarea.is-invalid {
  border-color: red;
}
/* =============== general styles and helpers =============== */

/* =============== page icons resources =============== */
/* =============== casper icons font =============== */
@font-face {
  font-family: 'casper-icons';
  src: url('../fonts/casper-icons.woff') format('woff'),
    url('../fonts/casper-icons.svg') format('svg');
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'casper-icons';
  line-height: 1;
  text-decoration: none !important;
}

.icon-arrow-left:before {
  content: '\f605';
}
/* =============== casper icons font =============== */

/* =============== mono social icons font =============== */
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.woff') format('truetype');
}

.symbol {
  font-family: 'Mono Social Icons Font';
}

/* =============== custom =============== */
a .symbol {
  font-size: 1.75em;
  margin: 0.25em;
}
/* =============== custom =============== */
/* =============== mono social icons font =============== */
/* =============== page icons resources =============== */

/* =============== page sections styles =============== */
/* =============== <header> styles =============== */
.hero {
  height: 100vh;

  /* overlay option 1: blend */
  background: rgba(0, 0, 0, 0.25) url('../img/hero-image.jpg');
  background-blend-mode: overlay;

  /* overlay option 2: gradient */
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url('../img/hero-image.jpg'); */

  /* overlay option 3: shadow */
  /* background: rgba(0, 0, 0, 0.25) url('../img/hero-image.jpg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.25); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero img.logo {
  width: 600px;
  opacity: 0.75;
}

.diamond {
  background-color: white;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  transform: rotate(45deg);
}

.line {
  background-color: white;
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-top: 2px;
}

.brand-slogan {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

.arrow-layout-helper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.scroll-down {
  width: 48px;
  height: 48px;
  font-size: 48px;
  margin-left: -14px;
  color: rgba(255, 255, 255, 0.75);
  transform: rotate(-90deg);
  animation: bounce 3s 2s infinite;
}

.scroll-down:hover {
  color: white;
  animation: none;
}
/* =============== <header> styles =============== */

/* =============== <main> styles =============== */
#content > section {
  min-height: 85vh;
}

#content > section h2 {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
}

#content > section .section-title {
  min-height: 20vh;
}

#content #brand p.highlight {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 25px 30px 25px;
  margin: 0 0 30px;
}

#content #brand p.no-highlight {
  font-size: 1.05rem;
  text-align: justify;
  margin: 0 75px 16px;
}

#content #brand .joker {
  width: 360px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#content #brand #magic-button-container {
  margin: 50px 0 25px !important;
}

#content #brand #product-container {
  min-height: 600px;
  position: relative;
}

#content #brand .tshirt-image {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
  z-index: 0;
}

#content #brand .fetched-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
  z-index: 1;
}

#content #team article img.thumbnail {
  width: 24px;
  height: 24px;
}

#content #team article a {
  padding-left: 3px;
  padding-right: 5px;
}

#content #team article > p.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

#content #team article > a.read-more,
#content #team article > a.read-less {
  color: rgb(128, 128, 128);
  font-size: 0.8rem;
  margin: 0 0 16px;
}

#content #team article > a.read-less {
  display: none;
}

#content #team article > p a {
  padding: 0;
}

#content #team article > footer > span.name {
  color: rgb(13, 110, 253);
}

#content #team article > footer > span.role {
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
  font-style: italic;
  padding-left: 10px;
  border-left: 1px solid gray;
}

#content #contact #wizard-form .fieldset-legend,
#content #contact #wizard-form .form-actions {
  min-height: 15vh;
}

#content #contact #wizard-form .form-input-data {
  min-height: 30vh;
  border: 1px dashed rgba(128, 128, 128, 0.25);
  border-radius: 10px;
  background-image: url('../img/form-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#content #contact #wizard-form .form-input-data .radio-options {
  font-size: 1.5em;
}

#content #summary #form-summary {
  border: 1px dashed rgba(128, 128, 128, 0.25);
  border-radius: 10px;
  padding: 25px;
}

#content #summary #form-summary > div {
  margin: 25px;
}

body > footer > div > a > img {
  filter: grayscale(100%) brightness(0%);
}
/* =============== <main> styles =============== */
/* =============== page sections styles =============== */

/* =============== media queries =============== */
@media (max-width: 1200px) {
  .reduce-container {
    width: 60%;
  }

  #brand p.no-highlight {
    margin: 0 50px 16px !important;
  }
}
@media (max-width: 992px) {
  .reduce-container {
    width: 75%;
  }

  #content #brand .joker {
    width: 360px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .hero > div:nth-of-type(2) {
    margin: 0 25px;
  }

  .reduce-container {
    width: 85%;
  }

  #brand p.no-highlight {
    margin: 0 40px 16px !important;
  }
}

@media (max-width: 576px) {
  #contact > .container.reduce-container {
    width: 95%;
  }

  #content > section .section-title {
    margin: 0 15px;
  }

  #brand p.no-highlight {
    margin: 0 30px 16px !important;
  }
}

@media (max-width: 384px) {
  #content > section h2 {
    font-size: 2rem;
  }

  /* #brand > div:nth-of-type(2) {
    width: 90%;
  } */

  #brand p.no-highlight {
    margin: 0 20px 16px !important;
  }

  fieldset > div:nth-of-type(2) > input,
  fieldset > div:nth-of-type(2) > textarea {
    width: 90% !important;
  }

  .form-input-data .radio-options {
    font-size: 1em;
  }

  #form-summary {
    width: 90%;
    padding: 10px;
  }

  #form-summary > div {
    margin: 10px;
  }
}
/* =============== media queries =============== */

/* =============== animations =============== */
/* =============== bounce .scroll-down in header =============== */
@keyframes bounce {
  0%,
  10%,
  25%,
  40%,
  50% {
    transform: translateY(0) rotate(-90deg);
  }
  20% {
    transform: translateY(-10px) rotate(-90deg);
  }
  30% {
    transform: translateY(-5px) rotate(-90deg);
  }
}
/* =============== bounce .scroll-down in header =============== */
/* =============== animations =============== */
